@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --primary: #f2ca1c;
  --secondary: #31468e;
}
body{
  overflow-x: hidden;
   font-family: "Montserrat";
    cursor: none !important;
}

a, button, input, select, textarea,Link {
  cursor: none !important;
}